// Breakpoint variables

$breakpoint-mobile: 320px;
$breakpoint-smartphone: 576px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;
$breakpoint-large-laptop: 1440px;
$breakpoint-desktop: 1920px;
$breakpoint-large-desktop: 1920px;

// Colors

$defaultWhiteColor: #ffffff;
$defaultGray: #64748B;
$lightGray: #0F172A;

